@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #4da528;
}



@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Yester";
  src: url("/fonts/Yesteryear-Regular.ttf") format("truetype");

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
  font-weight: 300;
}


.Mont {
  font-family: Montserrat, sans-serif;
}

.Inter {
  font-family: Inter, sans-serif;
}

.Yester {
  font-family: Yester, sans-serif;
}

button {
  cursor: pointer;
}

.custom-shadow {
  box-shadow: 0px 0px 50px black solid;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 99s linear infinite;
  display: flex;
  width: max-content;
}

.animate-scroll-horizontal:hover {
  animation-play-state: paused;
}

/* globals.css */
.bg-dots-svg {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><circle cx='1' cy='1' r='1' fill='%23000000' fill-opacity='0.12'/></svg>");
  background-repeat: repeat;
  background-size: 16px 16px;
}